<% if (is_archive() || is_tag() || is_category()) { %>
    <button class="hide-labels">TAG 开关</button>
   <%- js('js/require-2.1.6') %>
<%- js('js/jquery-1.9.1.min') %>

    <script>
        $(document).ready(function() {
            $("button").click(function() {
                $(".article-info").toggle(200);
            });
        });
    </script>
<% } %>